* {
    font-family: Helvetica, sans-serif;
}

html {
    display:flex;
    flex-direction: column;
    background-color:lightpink;
}
header {
    width: 100%;
}
h1, h4 {
    text-align: center;
}

#content {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list {
    height:400px;
    width:250px;
    background-color: orange;
    margin:10px;
    padding:5px;
    color: darkslategray;
}

footer {
    text-align: center;
    width: 100%;
}

.list-tile {
    text-align: center;
}

.items {
    font-size: 1.5rem;
}

.items li {
    margin-top: 20px;
}


#ran1 {
    list-style-type: armenian;
}

#ran2  {
    list-style-type: georgian;
}

#ran3 {
    list-style-type: hebrew;
}

#ran4  {
    list-style-type: katakana;
}